

/* Colfax Web Regular */
@font-face {
  font-family: 'ColfaxWeb';
    src: url("/static/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.eot");
    src: url("/static/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.eot?#iefix") format('embedded-opentype'),
           url("/static/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.woff2") format('woff2'),
           url("/static/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "ColfaxWeb", Monospace !important;
  color: #fff;
  background-color: #def4f6; 
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.linegrow {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}


.header {
  background: url('../images/6.jpg') ;
  width: 100%;
  background-size: cover; 
  background-color: #000;
  color: #f4f9fa;
  text-align: center;
  padding: 250px 100px;
}

.header-title {
  font-size: 66px;
  font-weight: 777;
  letter-spacing: 1px;
  text-shadow: 2px 2px black;
}

.header-subtitle {
  font-size: 25px;
  padding: 100px 100px;
}

#try-btn {
  padding: 12px 24px;
  border: 2px solid;
  font-size: 25px;
  border-color: #ccc;
  color: #f4f9fa;
  text-shadow: none;
  background-color: transparent;
  scroll-behavior: smooth;
}

#try-btn:hover {
  border-color: #eee;
}

circle {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    opacity: 0.7;
}

.footer-link {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  color: #99bcbf;
  text-decoration: none !important;
}

a {
  color: #1bb5c2;
}

a:hover {
  color: #1bb5c2;
}

.row {
  margin-right: 0px;

}

.tooltip {
  width: 200px;
}

.instruction_steps {
    border: white;
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding: 35px 10px;
    outline: none;
    border-radius: 10px;
}

.arrow1-position {
    position: absolute;
    top: 22px;
    right: -10px;
    z-index: 90;
    width: 30%;
    min-height: 100px;
    transform: rotate(20deg);
    object-fit: contain;
    filter: brightness(1.6)contrast(5.4)hue-rotate(190deg)saturate(0.9);
}

.arrow2-position {
      position: absolute;
      top: 263px;
      right: -191px;
      z-index: 100;
      width: 80%;
      /* max-height: 100px; */
      transform: rotate(320deg);
      object-fit: contain;
      filter: brightness(1.6)contrast(100)hue-rotate(190deg)saturate(0.9);
      /* float: right; */
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.leftside {
  background-color:#f4f9fa; 
  color:#7b8c90;
}

.rightside {
  background-color:white; 
  color:#7b8c90;
}

.footer{
  color: #6d9498;
  background-color: #def4f6;
}

.footer-content{
  margin: 20px;
}

.zoomed:hover {
  animation: zoom 0.5s forwards;
}

@keyframes zoom {
  0% {
  }
  100% {
    transform: scale(2);
    z-index: 2;
  }
}

/*makes it possible to scroll*/
.app {
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.invert{
  filter:invert(100%);
}

/*avoids a space in the top left corner*/
.svg-container {
  display: none;
}

/*centre rotating*/
.svg-icon-loader {
  width: 100%;
  height: 100%;
  fill: inherit;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
    -webkit-filter:invert(100%)
}

/*centre stem*/
.svg-icon-flower {
  width: 100%;
  height: 100%;
  fill: inherit;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-filter:invert(100%)
}

/*load flower*/
.icon-loader {
/*  position: absolute;
  top: 0;
  left: 0;

  width: 115px;
  height: 115px;
*/
  fill: #fff;
  -webkit-animation: spin 1s steps(12) infinite;
  animation: spin 1s steps(12) infinite;
}

.icon-flower {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 50px;
  height: 100px;

}


.page-profile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  width: 50%;
  height: 100%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.page-profile-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*align-self: center;*/

  padding: 10% 10% 10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  70% {
    opacity: .2;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#fade-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*align-self: center;*/
  position: relative;
  animation: fadeIn 1.44s ease;
}

.page-profile-content-paragraph {
  margin: 10px 0;

  color: #333;
  font-size: 32px;
  line-height: 36px;
}

.page-profile-footer {
  position: absolute;
  bottom: 0;
  padding: 0 10% 10%;
}

.page-profile-footer-paragraph {
  margin: 0 0 2px;

  color: #888;
  font-size: 16px;
}

.page-profile-footer-paragraph-link, .page-profile-footer-link {
  display: inline-block;
  padding: 0;

  text-decoration: none;
  border-bottom: 1px dotted #888;

  color: #888;
  font-size: 16px;
  line-height: 16px;
}

.page-profile-footer-paragraph-link:hover, .page-profile-footer-link:hover {
  border-color: transparent;
}

.page-profile-footer-link {
  margin: 0 10px 0 0;
}
/*load the page*/
.page-loader {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  background-color: #ffffff;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-loader.stop {
  width: 50%;
}

.page-loader-content {
  position: relative;

  width: 140px;
  height: 174px;
}

@media (max-width: 980px) {
  .page-profile {
    position: relative;

    width: 100%;
  }


}
/*makes it possible to spin*/
@-webkit-keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}



/*needed for creating a button with animation*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffaa00;
  border: none;
  color: #FFFFFF;
  top:100%;
  left: 0%;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  opacity: 0.55;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 2s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}
.button:hover span {
  color: #FFFFFF;
  padding-right: 25px;
}
.button:hover span:after {
  color: #FFFFFF;
  opacity: 1;
  right: 0;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}



.topbar-link {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  color: #99bcbf;
  text-decoration: none !important;
}

.topbar{
  color: #6d9498;
  position: absolute;
}



/* Bottom left text */
.bottom-left {
  color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
  color: white;
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
  color: white;
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
  color: white;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-center {
  color: white;
  position: absolute;
  bottom: 50%;
  left: 0%;
  font-size: 33px;
}

.bottom-center {
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  font-size: 33px;
  text-align: center;
  transform: translate(-50%, -50%);

}